* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  z-index: 1030; /* Ensure it's above other content */
  top: 0;
  left: 0;
  right: 0;
  height: 60px; /* Adjust based on your navbar height */
  padding: 20px;
}

.navbar-nav .nav-link {
  color: #000 !important;
  padding: 0.5rem 0rem !important;
  border-color: transparent;
  margin-left: 1.5rem;
  transition: none;
}

.navbar .navbar-toggler:focus {
  box-shadow: none;
}

.navbar-nav .nav-link.active,
.border-red {
  border-bottom: 3px solid #b71c1c;
}

.navbar-nav .nav-link:hover {
  border-bottom: 3px solid #b71c1c;
}

.container .product-item {
  min-height: 450px;
  border: none;
  overflow: hidden;
  position: relative;
  border-radius: 0;
}

.container .product-item .product {
  width: 100%;
  height: 350px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.container .product-item .product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .product-item .product .icons .icon {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.6s ease;
  transform: rotate(180deg);
  cursor: pointer;
}

.container .product-item .product .icons .icon:hover {
  background-color: #b71c1c;
  color: #fff;
}

.container .product-item .product .icons .icon:nth-last-of-type(3) {
  transition-delay: 0.2s;
}

.container .product-item .product .icons .icon:nth-last-of-type(2) {
  transition-delay: 0.15s;
}

.container .product-item .product .icons .icon:nth-last-of-type(1) {
  transition-delay: 0.1s;
}

.container .product-item:hover .product .icons .icon {
  transform: translateY(-60px);
}

.container .product-item .tag {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
  position: absolute;
  top: 10px;
  left: 20px;
  padding: 0 0.4rem;
}

.container .product-item .title {
  font-size: 0.95rem;
  letter-spacing: 0.5px;
}

.container .product-item .fa-star {
  font-size: 0.65rem;
  color: goldenrod;
}

.container .product-item .price {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
}

.container .product-item-small {
  min-height: 350px;
  border: none;
  overflow: hidden;
  position: relative;
  border-radius: 0;
}

.container .product-item-small .product {
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.container .product-item-small .product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .product-item-small .product .icons .icon {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.6s ease;
  transform: rotate(180deg);
  cursor: pointer;
}

.container .product-item-small .product .icons .icon:hover {
  background-color: #b71c1c;
  color: #fff;
}

.container .product-item-small .product .icons .icon:nth-last-of-type(3) {
  transition-delay: 0.2s;
}

.container .product-item-small .product .icons .icon:nth-last-of-type(2) {
  transition-delay: 0.15s;
}

.container .product-item-small .product .icons .icon:nth-last-of-type(1) {
  transition-delay: 0.1s;
}

.container .product-item-small:hover .product .icons .icon {
  transform: translateY(-60px);
}

.container .product-item-small .tag {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
  position: absolute;
  top: 10px;
  left: 20px;
  padding: 0 0.4rem;
}

.container .product-item-small .title {
  font-size: 0.95rem;
  letter-spacing: 0.5px;
}

.container .product-item-small .fa-star {
  font-size: 0.65rem;
  color: goldenrod;
}

.container .product-item-small .price {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
}

.fw-800 {
  font-weight: 800;
}

.bg-green {
  background-color: #208f20 !important;
  color: #fff;
}

.bg-black {
  background-color: #1f1d1d;
  color: #fff;
}

.bg-red {
  background-color: #bb3535;
  color: #fff;
}

.details-snippet1 {
  color: #585656;
}

/* Main text uses this styling and color */
.details-snippet1 .theme-text {
  color: purple;
  font-weight: bold;
}

.details-snippet1 .mini-preview img {
  border: 1px solid #585656;
  border: 1px solid purple;
  margin-bottom: 8px;
}

.details-snippet1 .title {
  color: #464343;
  font-weight: bold;
  font-size: 2rem;
}

.details-snippet1 .price {
  font-weight: bold;
  font-size: 1.8rem;
}

.details-snippet1 .original-price {
  font-weight: normal;
  font-size: 20px;
}

.brief-description {
  /* color: #585656; */
  color: #464343;
}

.select-colors .color {
  display: inline-block;
  border: 1px solid grey;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-right: 5px;
  background-color: black;
}

.select-colors .color.red {
  background-color: red;
}

.select-colors .color.silver {
  background-color: silver;
}

.select-colors .color.black {
  background-color: black;
}

.addBtn {
  background-color: purple;
  color: white;
  text-transform: uppercase;
}

.addBtn:hover {
  background-color: #500150;
  color: white;
}

.related-heading {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  /* color: #464343; */
}

.details-snippet1 .related-title {
  color: #464343;
  font-weight: bold;
}

.details-snippet1 .related-price {
  color: #464343;
  font-weight: bold;
}

.additional-details .nav-link {
  border: none;
  color: #464343;
}

.additional-details .nav-link.active {
  background-color: white;
  color: #464343;
  border: none;
  border-bottom: 4px solid purple;
}

@media (max-width: 767.5px) {
  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link:hover {
    background-color: #b71c1c;
    color: #fff !important;
  }

  .navbar-nav .nav-link {
    border: 3px solid transparent;
    margin: 0.8rem 0;
    display: flex;
    border-radius: 10px;
    justify-content: center;
  }
}

.sidebar {
  background-color: #f8f9fa;
  padding: 15px;
  border: 1px solid #dee2e6;
  transition: transform 0.3s ease;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  font-size: 18px;
  margin-bottom: 15px;
}

.sidebar h3 {
  font-size: 16px;
  margin-top: 20px;
}

.sidebar ul {
  list-style: none;
  padding-left: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar input[type="checkbox"] {
  margin-right: 5px;
}

.toggle-btn {
  display: none;
  margin-bottom: 15px;
}

/* Show sidebar on small screens */
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    bottom: 0;
    width: 80%;
    z-index: 1000;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .sidebar.show {
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .toggle-btn {
    display: block;
  }
}

.payment {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.creditcard {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thecard {
  width: 365px;
  height: 225px;
  display: flex;
  flex-direction: column;
  background: #49425a;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 0 black;
}

.top-card {
  display: flex;
}

.card-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3rem;
  color: #ebf1eb;
}
.card-info div {
  margin: 0.3rem 0;
}
.card-info .card-number {
  font-size: 1.2rem;
  font-weight: 400;
  font-style: italic;
}

.circle {
  width: 50px;
  height: 50px;
  margin: 20px;
  border-radius: 50%;
  background: #c54177;
}
.circle:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 15px 10px;
  border-radius: 50%;
  background: #e0bf73;
}

.card-title {
  margin: 20px;
  margin-left: -40px;
  z-index: 1;
  color: #ebf1eb;
  font-style: italic;
  font-weight: 700;
  font-size: 2rem;
}

.form {
  width: 50%;
  height: 100%;
  margin: 0 50px;
  display: flex;
  justify-content: center;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Muli", sans-serif;
  color: #49425a;
  font-size: 0.9rem;
  font-weight: 400;
}

label {
  margin-bottom: 0.3rem;
}

input,
select {
  margin-bottom: 1.3rem;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0);
  outline: none;
  font-size: 1.1rem;
  line-height: 1.1rem;
  font-family: "Muli", sans-serif;
  background: #fff;
  color: #49425a;
  transition: all 300ms ease;
}
input:hover,
select:hover {
  transition: all 300ms ease;
  border: 1px solid #49425a;
}

.small {
  width: 100%;
  display: flex;
}
.small label {
  display: block;
}
.small p {
  width: 200px;
  margin-left: 1rem;
  align-self: center;
}

select {
  width: 45%;
  height: 3.3rem;
}

.date {
  display: flex;
  justify-content: space-between;
}
.date label {
  display: block;
}

.btn-pink {
  background: "#ff3f6c";
  color: "white";
  font-weight: 700;
}
